<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
<b>File:</b>
<%= image_tag @user.user_image.thumb.url %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Course:</b>
    <% @user.courses.each do |course| %>
    <%= course.name %>
  <% end %>
</p>



<!-- <p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p> -->


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
