<h1>Locations</h1>


  

<% @locations.each do |location| %>
  <h3>Location Name</h3>
    <p><%= location.name %></p>
    <h3>Location Address</h3>
    <p><%= location.location %></p>
    <nav>
      <ul>
    <li><%= link_to 'Show', location %></li>
    <li><%= link_to 'Edit', edit_location_path(location) %></li>
    <li><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
    </nav>
<% end %>


<br />
<div class="bottom_link">
<%= link_to 'New Location', new_location_path %>
</div>
