<%= form_for(@course) do |f| %>


  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :start_date%><br />
    <%= f.text_field :start_date%>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.text_field :end_date %>
  </p>
  
  <p>
    <%= f.label :programme_id %><br />
    <%= f.collection_select :programme_id, Programme.all, :id, :name %>
  </p>

  <p>
    <%= f.label :classroom_id %><br />
    <%= f.collection_select :classroom_id, Classroom.all, :id, :name %>
  </p>

  <p>

    <% User.where(role: "student").each do |student| %>
       <%= check_box_tag "course[student_ids][]", student.id, @course.students.include?(student), id: "course_student_ids_#{student.id}" %>
       <%= f.label :student_ids, student.name, for: "course_student_ids_#{student.id}" %>
        <br>
       <% end %>
       <br>
    </p>

    <% User.where(role: "instructor").each do |instructor| %>
      <%= check_box_tag "course[instructor_ids][]", instructor.id, @course.instructors.include?(instructor), id: "course_instructor_ids#{instructor.id}" %> <%= f.label :instructor_ids, instructor.name, for: "course_instructor_ids_#{instructor.id}" %>
      <br>
      <% end %>
      <br>
    </p>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
